<div style="height: calc(100vh - 80px);width:100vw">
  <mat-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-mini-fab color="primary" (click)="visibility()">
          <mat-icon *ngIf="!focusout">visibility</mat-icon>
          <mat-icon *ngIf="focusout">visibility_off</mat-icon>
        </button>
        <h3 mat-subheader>呼出席一覧</h3>
        <span class="toolbar-spacer"></span>
        <button mat-mini-fab color="accent" (click)="clearAll()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list-item *ngFor="let seat of staffSrv.seats;let i=index">
      <mat-icon color="warn" mat-list-icon style="margin-right: 15px;">notifications_active</mat-icon>
      <h2 mat-line>{{seat.name}}　（{{seat.seat_no}}）</h2>
      <h3 mat-line>{{seat.group_name}}</h3>
      <button mat-mini-fab color="primary" (click)="callEnd(seat,i)">
        <mat-icon>notifications_off</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>