<!--
<mat-grid-list cols="2" rowHeight="32px" gutterSize="10px" style="width: 74px;margin-left: 16px">
    <mat-grid-tile [colspan]="1">
        <div class="circle" style="background: rgb(103, 58, 183);" (click)="onClick('deeppurple-amber')">
            <mat-icon *ngIf="theme==='deeppurple-amber'">check_circle_outline</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" (click)="onClick('indigo-pink')">
        <div class="circle" style="background: rgb(63, 81, 181);">
            <mat-icon *ngIf="theme==='indigo-pink'">check_circle_outline</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" (click)="onClick('pink-bluegrey')">
        <div class="circle" style="background: rgb(233, 30, 99);">
            <mat-icon *ngIf="theme==='pink-bluegrey'">check_circle_outline</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" (click)="onClick('purple-green')">
        <div class="circle" style="background: rgb(156, 39, 176)">
            <mat-icon *ngIf="theme==='purple-green'">check_circle_outline</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>
-->