<div *ngIf="!isOver" class="content-container">
  <div style="padding-top: 5vh;padding-left:5vh" fxLayout="row" fxLayoutAlign="start start">
    <div>
      <mat-icon color="warn" style="font-size: 96px;height:96px;width:96px;" (dblclick)="goSettings()">sentiment_satisfied_alt</mat-icon>
    </div>
    <div style="font-size: 200%;">
      <div> いつもご来店ありがとうございました！</div>
      <div> お支払い合計：</div>
    </div>
  </div>
  <div class="main-panel">
    <div><span style="font-size: 300%;">￥</span><span style="font-size: 500%;">{{ faxprice | currency:' ':'symbol':'1.0-0'}}</span><span style="font-size: 300%">円（税込）</span></div>
  </div>
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row style="height: 150px;">
      <div style="width: 45%">
        <div class="currency-panel">預り　：{{ pay | currency:'￥':'symbol':'1.0-0'}}</div>
        <div class="currency-panel">お釣り：{{ change | currency:'￥':'symbol':'1.0-0'}}</div>
      </div>
      <span class="toolbar-spacer"></span>
      <!-- <span>税抜金額：</span>
      <span> {{ price | currency:'￥':'symbol':'1.0-0'}}</span> -->
      <!-- <button type="button" color="primary" mat-icon-button (click)="ngOnInit()">
        <mat-icon>refresh</mat-icon>
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div *ngIf="isOver" class="content-container">
  <div class="main-panel">

    <div style="padding-top: 5vh;padding-left:5vh" fxLayout="row" fxLayoutAlign="start start">
      <div>
        <mat-icon color="warn" style="font-size: 96px;height:96px;width:96px;">favorite</mat-icon>
      </div>
      <div style="font-size: 500%;">
        <div> まだのご来店<br>お待ちしております！</div>
      </div>
    </div>
  </div>
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row style="height: 150px;">

      <span class="toolbar-spacer"></span>
      <span>♪♪♪ 二次会しませんか (^ = ^) ♪♪♪ キャンペーン情報</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
