.price {
    width: 65px;
    text-align: right;
    display: block;
    padding: 5px;
}

.del-line {
    text-decoration: line-through;
}

.red-color {
    color: red;
}

@media (max-height: 800px) {
    div,
    span,
    td {
        font-size: 14px;
    }
}

@media (max-height: 600px) {
    div,
    span,
    td {
        font-size: 12px;
    }
}