.img {
    /* border-style: solid; */
    /* border-color: #cc6600; */
    background-color: #FFFFFF;
    margin: 2px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

img {
    width: 100%;
}