<ng-container *ngFor="let group of groups; let i = index">
  <button *ngIf="i==0" class="seat-no" (click)="logout()">
    <!-- <mat-icon class="example-icon">exit_to_app</mat-icon> -->
    {{toolbardisplay | language:menuSrv.lang}}
  </button>
  <button mat-raised-button fxFlex class="group-button" [color]="group.selected ? 'accent' :'primary'" (click)="onSelect(group)">
    <ng-container *ngIf="group.option && group.option.img">
      <img [src]="group.option.img" style="width: 60%;height:45%;">
      <br>
    </ng-container>
    {{group.display_name | language:menuSrv.lang}}
  </button>
</ng-container>