<mat-toolbar color="primary">
  <mat-icon style="padding-right:10px">insert_comment</mat-icon>
  <span>{{data.title !== undefined ? data.title : '確認' }}</span>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="start center" style="padding:30px">
  <p>{{data.msg}}</p>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
  <button mat-raised-button color="primary" (click)="ok()" cdkFocusInitial style="padding: 10px 15px;font-size:130%">Yes</button>
  <button mat-raised-button color="accent" (click)="close()" style="margin-left:20px" style="padding: 10px 15px;font-size:130%">No</button>
</div>
