<mat-toolbar color="primary">
  <mat-icon style="padding-right:10px">storage</mat-icon>
  <span>{{title}}</span>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="start center" style="padding:5px">
  <div style="overflow-y:auto;max-height:450px;width:100%; ">
    <ng-container *ngFor="let item of list">
      <mat-list-item class="example-item" style="margin:5px;width:100%"  (click)="onselect($event,item)">
        <span>{{item[displayColumn]}}</span>
        <span class="toolbar-spacer"></span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end center" style="width:100%">
  <button mat-raised-button color="primary" (click)="close()" style="margin-left:20px">閉じる</button>
</div>
