<div class="content-container">
  <div fxLayout="column">
    <div class="title">
      メユー：
      <mat-select placeholder="菜单" class="select" [(ngModel)]="course_menu_id">
        <mat-option *ngFor="let menu of orign_menus" [value]="menu.id">
          [{{menu.no}}] {{menu.name}}
        </mat-option>
      </mat-select>

      <mat-checkbox style="margin-left: 20px;" [(ngModel)]="is_set">　コース</mat-checkbox>
    </div>
    <div fxLayout="row" style="height: 100%">
      <div fxFlex="50%" class="box-border" style="height: calc(100vh - 190px );">
        <mat-list style="height: 100%; overflow-y: auto;">
          <div style="color:red;">
            {{currentTitle}}：
          </div>

          <ng-container *ngFor="let menu of menu_course_detail;index as index">
            <mat-list-item class="example-item">
              [{{menu.no}}]{{menu.name}}
              <span class="toolbar-spacer"></span>

              <button [disabled]="index === 0" mat-mini-fab color="primary" (click)="onUp($event, menu, index)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-mini-fab color="accent" style="margin-left: 30p;">
                <mat-icon class="example-icon" (click)="removeMenu($event, menu)">clear</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>

      </div>
      <div fxFlex="50%" class="box-border" style="height: calc(100vh - 200px);">
        <div fxFlexAlign="start" style="position: relative;height:50px;">
          <mat-tab-group class="demo-tab-group" (selectedTabChange)="onCategoryChange($event)">
            <mat-tab *ngFor="let group of master_group" label="{{group.display_name}}">
            </mat-tab>
          </mat-tab-group>
        </div>
        <mat-list style="height: calc(100vh - 250px);overflow-y: auto;">
          <ng-container *ngFor="let menu of menus">
            <mat-list-item class="example-item">
              [{{menu.no}}]{{menu.name}}
              <span class="toolbar-spacer"></span>
              <button mat-mini-fab color="primary" (click)="addMenu(menu_course_detail, menu)">
                <mat-icon class="example-icon">chevron_left</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>

        <button [disabled]="currentIndex==1" mat-raised-button color="primary"
          style=" margin-top: 5px;height: 40px;margin-left: 20px; " (click)="pre()">
          上一步
        </button>
        <button [disabled]="menu_course_detail.length==0" mat-raised-button color="primary"
          style=" margin-top: 5px;height: 40px;margin-left: 20px; " (click)="next()">
          下一步
        </button>

        <button *ngIf="menu_course_detail.length" mat-raised-button color="primary"
          style=" margin-top: 5px;height: 40px;margin-left: 10px; " (click)="save($event)">
          保存
        </button>

      </div>
    </div>

  </div>
  <!--
  <div fxLayout="column" class="text-list">
    <div class="title2">追加メユー</div>
    <div class="menu-list">
      <div class="menu">
        メニュー: <input type="text" matInput style="width:300px;"> 価格：<input type="number" matInput style="width:80px;">
        <button mat-mini-fab color="accent"  style="margin-left: 30px">
          <mat-icon class="example-icon" >clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="column">
  </div>
  -->
</div>