<mat-sidenav-container style="height:92%;background-color: #ffcc99;"  [ngClass]="{'orange-theme':1, hidden: !show}">
  <mat-sidenav-content>
    <div fxFlex fxLayout="column" style="width:20%;height:100%;">
      <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:60%;" (click)="btnClick(1)">
        <img src="{{site_image_host}}{{menu_top_data[1]['image']}}" />
      </div>
      <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:40%;" (click)="btnClick(2)">
        <img src="{{site_image_host}}{{menu_top_data[2]['image']}}" />
      </div>
    </div>
    <div style="width:55%;height:94%; padding: 20px; background-color: #ffcc99;" >
      <div fxLayout="column" style="float:left; width:33%;height:100%;" >
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:50%;" (click)="btnClick(3)">
          <img src="{{site_image_host}}{{menu_top_data[3]['image']}}" />
        </div>
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:50%;" (click)="btnClick(4)">
          <img src="{{site_image_host}}{{menu_top_data[4]['image']}}" />
        </div>
      </div>
      <div fxLayout="column" style="float:left; width:33%;height:100%;" >
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:50%;" (click)="btnClick(5)">
            <img src="{{site_image_host}}{{menu_top_data[5]['image']}}" />
        </div>
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:50%;" (click)="btnClick(6)">
            <img src="{{site_image_host}}{{menu_top_data[6]['image']}}" />
        </div>
      </div>
      <div fxLayout="column" style="float:left; width:33%;height:100%;" >
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:33%;" (click)="btnClick(7)">
            <img src="{{site_image_host}}{{menu_top_data[7]['image']}}" />
        </div>
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:33%;" (click)="btnClick(8)">
            <img src="{{site_image_host}}{{menu_top_data[8]['image']}}" />
        </div>
        <div fxLayout="row" class="img" fxLayoutAlign="space-around center" style="height:33%;" (click)="btnClick(9)">
            <img src="{{site_image_host}}{{menu_top_data[9]['image']}}" />
        </div>
      </div>
    </div>
    <div fxLayout="column" style="width:20%;height:100%;" >
      <restaurant-theme-menu-top-ranking fxLayout="column" [enableOrder]="!editMode" style="width:100%;height:100%; background-color: white;"></restaurant-theme-menu-top-ranking>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>