<div fxFlex fxLayout="row" (swiperight)="preClick($event)" (swipeleft)="nextClick($event)"
  [@animationStatus]="animationStatus" (@animationStatus.done)="animationDone($event)" style="width:100%;height: 100%;">
    <restaurant-theme-menu-top-new [enableOrder]="enableOrder" [menu]="menuData[0] || {}" class="menu-image">
    </restaurant-theme-menu-top-new>
    <restaurant-theme-menu-top-new [enableOrder]="enableOrder" [menu]="menuData[1] || {}" class="menu-image">
    </restaurant-theme-menu-top-new>
</div>
<div fxFlex="50px" style="padding: 5px 0px 0px 0px;width:100%" fxLayout=" row" fxLayoutAlign="space-around center">
  <button mat-raised-button color="primary" class="page-button" [disabled]="(currentPage>0) ? false : true"
    (click)="preClick($event)">
    {{'前　へ' | language:menuSrv.lang}}
  </button>
  <div style="width:10%;text-align: center;">{{ currentPage + 1 }}　/　{{maxPage}}</div>
  <button mat-raised-button color="primary" class="page-button" [disabled]="(currentPage<maxPage-1) ? false : true"
    (click)="nextClick($event)">
    {{'次　へ' | language:menuSrv.lang}}
  </button>
</div>