<mat-toolbar color="primary">
  <mat-icon style="padding-right:10px">event_seat</mat-icon>
  <span>席利用者設定</span>
  <span class="toolbar-spacer"></span>
  <span> No.{{data.value.seat_no}} {{data.value.name}}</span>
</mat-toolbar>
<div theme fxLayout="column" style="padding:5px;width:100%">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding:15px;width:100%">
    <div fxLayout="column">      
      <div>来客数：</div>
    </div>
    <div flex>
      <number-selecter [(count)]="guest_number"></number-selecter>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding:15px;width:100%">
    <div fxLayout="column">
      <div>お通し追加：</div>
      <div>(注文済み {{current_orders}} 個)</div>
    </div>
    <div flex>
      <number-selecter [(count)]="order_number"></number-selecter>
    </div>
  </div>
</div>

<mat-toolbar color="base">
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" [disabled]="order_number===0 && guest_number===0" (click)="ok()" cdkFocusInitial>OK</button>
</mat-toolbar>