<mat-sidenav-container class="mat-sidenav-content">
    <div fxLayout="row"
         style="height: 100%;"
         fxLayoutAlign="center none">
        <div class="list"
             fxLayout="column"
             fxFlex=100>
            <div>
                <mat-toolbar color="basic">
                    <div class="nav-title">座席管理</div>
                    <span class="toolbar-spacer"></span>
                    <button mat-raised-button color="primary" (click)="onAdd()">座席追加</button>
                </mat-toolbar>
                <div class="componect-container">
                    <div class="search">
                        <div [formGroup]="searchForm"
                            fxLayout="row"
                            style="height: 60px;padding: 5px 0;"
                            fxLayoutGap="15px"
                            fxLayoutAlign="start center">
                            <div fxFlex=60
                                    style="padding-left: 28px;">
                                <button mat-icon-button matTooltip="更新" matTooltipPosition="below" (click)="onSearch()">
                                    <mat-icon class="mat-icon-edit">
                                        refresh
                                    </mat-icon>
                                </button>
                            </div>
                            <div fxFlex=30>
                                <mat-form-field fxFlex=100 style="height:40px;">
                                    <mat-label>キーワード</mat-label>
                                    <input matInput placeholder="ユーザー名を入力" formControlName="keyword" autocomplete="off">
                                    <mat-icon class="search-icon" (click)="onSearch()" matSuffix>find_in_page</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="table-container" fxLayout="column" fxLayoutAlign="start center">
                        <table class="app-grid" style="width: 100%">
                            <tr>
                                <th style="font-weight: bold;width: 20%;">
                                    ユーザー名
                                </th>
                                <th style="font-weight: bold;width: 45%;">
                                    姓名
                                </th>
                                <th style="font-weight: bold;width: 20%;">
                                    有効
                                </th>
                                <!--
                                <th style="font-weight: bold;width: 13%;">
                                    スタッフ権限
                                </th>
                                <th style="font-weight: bold;width: 14%;">
                                    スーパーユーザー権限
                                </th>
                                -->
                                <th></th>
                            </tr>
                            <ng-container *ngFor="let parent of dataSource.data">
                                <tr>
                                    <td>
                                        {{parent.username}}
                                    </td>
                                    <td>
                                        {{parent.first_name}} 
                                        {{parent.last_name}}
                                    </td>
                                    <td>
                                        {{parent.is_active}}
                                    </td>
                                    <!--
                                    <td>
                                        {{parent.is_staff}}
                                    </td>
                                    <td>
                                        {{parent.is_superuser}}
                                    </td>
                                    -->
                                    <td>
                                        <button mat-icon-button matTooltip="編集" matTooltipPosition="before" (click)="onEdit(parent)">
                                            <mat-icon class="mat-icon-edit">
                                                edit_outline
                                            </mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip="削除" matTooltipPosition="after" (click)="onDelete(parent)">
                                            <mat-icon class="mat-icon-edit">
                                                delete
                                            </mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                        <app-table-empty-message [dataSource]="dataSource" #empty></app-table-empty-message>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>