<div class="componect-container">
    <div class="search">
        <div [formGroup]="searchForm"
            fxLayout="row"
            style="height: 60px;padding: 5px 0;"
            fxLayoutAlign="space-between center">
            <div style="margin-left: 24px;">
                <button mat-icon-button
                        matTooltip="更新"
                        matTooltipPosition="below"
                        (click)="onSearch()">
                    <mat-icon class="mat-icon-edit">
                        refresh
                    </mat-icon>
                </button>
                <button mat-icon-button
                        *ngIf="selection.hasValue()"
                        matTooltip="一括削除"
                        matTooltipPosition="below"
                        (click)="onDelete(child)">
                    <mat-icon class="mat-icon-edit">
                        delete
                    </mat-icon>
                </button>
                <mat-menu #move="matMenu">
                    <div style="width: 250px;"
                        fxLayout="column">
                        <div style="padding: 10px"
                            fxLayout="column">
                            <span>移動先を選択してください</span>
                            <span>（※親カテゴリーは移動されません）</span>
                        </div>
                        <div class="select-area">
                            <div mat-menu-item
                                (click)="onMove('')"
                                fxLayout="row"
                                fxLayoutGap="10px">
                                <span>親カテゴリーなし</span>
                            </div>
                            <ng-container *ngFor="let item of dataSource.data">
                                <div mat-menu-item
                                    (click)="onMove(item.id)"
                                    fxLayout="row"
                                    fxLayoutGap="10px">
                                    <span>{{item.category_name}}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="table-container"
         fxLayout="column"
         fxLayoutAlign="start center">
        <table class="app-grid" style="width: 100%">
            <col width="70%">
            <col width="*">
            <tr>
                <th>
                    カテゴリー名
                </th>
                <th></th>
            </tr>
            <ng-container *ngFor="let parent of dataSource.data">
                <tr class="partent-tr">
                    <td style="font-size: 14px">
                        {{parent.category_name}}
                    </td>
                    <td>
                        <button mat-icon-button
                                matTooltip="編集"
                                matTooltipPosition="before"
                                (click)="onEdit(parent)">
                            <mat-icon class="mat-icon-edit">
                                edit_outline
                            </mat-icon>
                        </button>
                        <button mat-icon-button
                                *ngIf="parent.children.length > 0"
                                (click)="onToggle(parent)">
                            <mat-icon *ngIf="parent.display === 'none'"
                                      matTooltip="展開"
                                      matTooltipPosition="after">
                                view_list
                            </mat-icon>
                            <mat-icon *ngIf="parent.display !== 'none'"
                                      matTooltip="折り畳み"
                                      matTooltipPosition="after">
                                view_column
                            </mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="削除" *ngIf="parent.children.length==0"
                                matTooltipPosition="after"
                                (click)="onDelete(parent)">
                            <mat-icon class="mat-icon-edit">
                                delete
                            </mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngFor="let child of parent.children"
                    [style.display]="parent.display">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{child.category_name}}
                    </td>
                    <td>
                        <button mat-icon-button
                                matTooltip="編集"
                                matTooltipPosition="before"
                                (click)="onEdit(child)">
                            <mat-icon class="mat-icon-edit">
                                edit_outline
                            </mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="削除"
                                matTooltipPosition="after"
                                (click)="onDelete(child)">
                            <mat-icon class="mat-icon-edit">
                                delete
                            </mat-icon>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </table>
        <app-table-empty-message [dataSource]="dataSource"
                                 #empty></app-table-empty-message>
    </div>
</div>