<div class="progress-card" *ngIf="taskData">
  <div fxLayout="row" fxLayoutAlign="space-between none" class="progress-task-header bgcolor-primary">
    <!--[ngClass]="{'bgcolor-accent':taskData.sub_data.length > 0, 'bgcolor-primary':taskData.sub_data.length === 0}"-->

    <!-- <div class="progress-icon-list">
      <mat-icon>notifications_active</mat-icon>
      <mat-icon>flash_off</mat-icon>
      <mat-icon>exposure_plus_2</mat-icon>
      <mat-icon>cake</mat-icon>
    </div> -->
    <div fxLayout="row" class="task-count">
      <button *ngIf="canDelete" mat-mini-fab (click)="onDelete()" color="warn">削 除</button>
      <span *ngIf="canBack && !deleteModel && backName !== ''" style="width:25px;" ></span>
      <span *ngIf="!(multiTask && taskData.sub_data.length > 0)" style="padding:3px 15px 3px 5px;color:yellow;">
        No.{{taskData.seat_no}}
      </span>
      <span *ngIf="multiTask && taskData.sub_data.length > 0">（※まとめ個数： <span class="bgcolor-accent" style="border-radius:3px; padding:3px;">{{taskData.getTotal()}}
          個
        </span> </span>
      <span *ngIf="!(multiTask && taskData.sub_data.length > 0)" style="padding-left:10px;">
        <span class="bgcolor-accent" style="border-radius:3px; padding:3px;">{{taskData.count}} 個 </span>
      </span>
    </div>
    <span *ngIf="!(multiTask && taskData.sub_data.length > 0)" style="padding:3px 60px 3px 5px;font-size:80%">{{taskData.order_time
      | date:'[HH:mm]' }}</span>

    
    <div *ngIf="!(multiTask && taskData.sub_data.length > 0)" style="text-align: right;position: absolute;right:0;top:0">
      <button *ngIf="deleteModel" fxAlign="end" mat-fab (click)="onCancel()" color="warn">{{cancelName}}</button>
      <button *ngIf=" !deleteModel && nextName !== '' " fxAlign="end" [disabled]="!canNext" mat-fab (click)="onNext()"
        color="primary">{{nextName}}</button>
      <label fxAlign="end" *ngIf="label !== ''">{{label}}</label>
    </div>
    
    <button style="position: absolute;left:0;top:0" *ngIf="canBack && !deleteModel && backName !== ''" [disabled]="!canBack"
      mat-mini-fab (click)="onBack()" color="base">{{backName}}
    </button>
    <!--  <span>{{taskData.order_time | date:'hh:mm' }}</span> -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="position: relative;">
    <div class="task-name" style="font-size: 130%;" fxLayout="row" fxLayoutAlign="space-between center" flex (click)="showDetail(taskData)">
      <img style="width:120px;height:auto" [src]="'/assets/images/menu/'+ taskData.menu_no +'.jpg'" alt="Norway">
      <div class="task-name" flex>
        <div style="font-size:130%;font-weight: 900;">{{taskData.menu_note}}</div>
        <div>{{taskData.menu_display_name}}</div><!--  [{{taskData.menu_no}}] -->
      </div>
    </div>
  </div>

  <!-- <mat-grid-list *ngIf="multiTask && taskData.sub_data.length > 0" [cols]="taskData.sub_data.length >= 3 ? 3 : taskData.sub_data.length"
    rowHeight="130px" gutterSize="5">
    <mat-grid-tile *ngFor="let sub of taskData.sub_data;let i = index;" [colspan]="1" [rowspan]="1">
      <div class="progress-card" style="width: 100%">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="sub-body">
          <div style="padding:3px 15px 3px 5px">{{sub.order_time | date:'[ HH:mm ]' }}</div>
          <div class="task-count">
            個数：
            <span class="bgcolor-accent" style="border-radius:3px; padding:5px;">{{sub.count}} </span>
          </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width:100wh;padding:5px;">
          <button *ngIf="deleteModel" mat-raised-button (click)="onSubCancel(sub, i)" color="warn">{{cancelName}}</button>
          <button *ngIf="!deleteModel && nextName !== ''" [disabled]="!canNext" mat-raised-button (click)="onSubDel(sub, i)">後で</button>
          <div style="padding:10px;"> No.{{sub.seat_no}}</div>
          <button color="primary" *ngIf="!deleteModel && nextName !== ''" [disabled]="!canNext" mat-raised-button
            (click)="onSubNext(sub, i)">{{nextName}}</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->


  <div *ngIf="multiTask && taskData.sub_data.length > 0" fxLayout="row wrap" fxLayoutGap="0px" fxLayoutGap.xs="0"
    fxLayout.xs="column">
    <ng-container *ngFor="let sub of taskData.sub_data;let i = index;">
      <div class="sub-progress-card" style="min-width:180px">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="sub-body">
            <div style="padding:3px 5px;color:yellow" class="bgcolor-primary"> No.{{sub.seat_no}}</div>
          <div style="padding:3px 5px 3px 5px;font-size:80%">{{sub.order_time | date:'[HH:mm]' }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width:100wh;padding:5px;">
          <button *ngIf="deleteModel" mat-raised-button (click)="onSubCancel(sub, i)" color="warn">{{cancelName}}</button>
          <!--一時的に利用中止 <button *ngIf="!deleteModel && nextName !== ''" [disabled]="!canNext" mat-raised-button (click)="onSubDel(sub, i)">後で</button> -->
          <div class="task-count">
              <span class="bgcolor-accent" style="border-radius:3px; padding:3px 5px;">{{sub.count}} 個</span>
            </div>
          <button color="primary" *ngIf="!deleteModel && nextName !== ''" [disabled]="!canNext" mat-raised-button
            (click)="onSubNext(sub, i)">{{nextName}}</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
