<div fxFlex fxLayout="column" style="width:40%;">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:31%; position: relative;">
    <!-- <div class="osusume">おすすめ</div> -->
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[0] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:17%; margin-top: 6px;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[1] || {}" class="menu-image" style="width:48%"></restaurant-theme-menu-top-image>
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[2] || {}" class="menu-image" style="width:48%"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:17%; margin-top: 6px;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[3] || {}" class="menu-image" style="width:48%;margin-top:2px;"></restaurant-theme-menu-top-image>
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[4] || {}" class="menu-image" style="width:48%;margin-top:2px;"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="footer-image">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[5] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
</div>
<div fxLayout="column" style="width:30%;" >
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:24%;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[6] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="right-image">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[7] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="right-image" >
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[8] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center"  style="height:25%;margin-top:6px;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[9] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
</div>
<div fxLayout="column" style="width:30%;margin-right: 4px;" >
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height:24%;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[10] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="right-image">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[11] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="right-image" >
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[12] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center"  style="height:25%;margin-top:6px;">
    <restaurant-theme-menu-top-image [enableOrder]="enableOrder" [menu]="menuData[13] || {}" class="menu-image"></restaurant-theme-menu-top-image>
  </div>
</div>
