<mat-toolbar color="basic">
    <div class="nav-title">
        支払方法
    </div>
    <button mat-icon-button matTooltip="更新" matTooltipPosition="below" (click)="onSearch()">
        <mat-icon class="mat-icon-edit">
            refresh
        </mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onEditIng(true)">支払方法登録</button>
</mat-toolbar>

<div class="componect-container">
    <div class="table-container" fxLayout="column" fxLayoutAlign="start center">
        <table mat-table [dataSource]="dataSource" class="app-grid" matSort style="width:100%">
            <ng-container matColumnDef="id">
                <th mat-header-cell style="width: 5%;" *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                </td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">コード</th>
                <td mat-cell *matCellDef="let row">{{row.code}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">名称</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="display_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">表示名</th>
                <td mat-cell *matCellDef="let row">{{row.display_name}}</td>
            </ng-container>
            <ng-container matColumnDef="display_order">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">順番</th>
                <td mat-cell *matCellDef="let row">{{row.display_order}}</td>
            </ng-container>

            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef style="width: auto;"></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="編集" matTooltipPosition="before" (click)="onEdit(row)">
                        <mat-icon class="mat-icon-edit">
                            edit_outline
                        </mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="削除" matTooltipPosition="after" (click)="onDelete(row)">
                        <mat-icon class="mat-icon-edit">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-table-empty-message [dataSource]="dataSource" #empty></app-table-empty-message>
    </div>
</div>