<div *ngIf="!authSrv.isRole('guest')" fxLayout="row">
  <div fxFlex="33%">
    <mat-card class="example-card bgcolor-primary">
      <mat-card-header>
        <mat-card-title>FullScreenモード</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div style="padding-left:16px;margin-top:5px;">
          <mat-slide-toggle #slideToggle [(ngModel)]="fullModel" (change)="changeFullModel($event)">
            モード: {{ debugModel ? 'ON' : 'OFF'}}
          </mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
  <div *ngIf="!authSrv.isRole('guest')" fxFlex="33%">
    <mat-card class="example-card bgcolor-primary">
      <mat-card-header>
        <mat-card-title>言語</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div style="padding-left:16px;margin-top:5px;">
          <button mat-raised-button color="accent" style="width:120px">
            <img src="/assets/images/en.png" width="20px" height="auto" plain>
            <span style="padding-left:5px">English</span>
          </button>
        </div>
        <div style="padding-left:16px;margin-top:5px;">
          <button mat-raised-button color="accent" style="width:120px">
            <img src="/assets/images/ja.png" width="20px" height="auto" plain>
            <span style="padding-left:5px">日本語</span>
          </button>
        </div>
        <div style="padding-left:16px;margin-top:5px;">
          <button mat-raised-button color="accent" style="width:120px">
            <img src="/assets/images/zh.png" width="20px" height="auto" plain>
            <span style="padding-left:5px">中国语</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!authSrv.isRole('guest')" fxFlex="33%">
    <mat-card class="example-card bgcolor-primary">
      <mat-card-header>
        <mat-card-title>システム調整</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div style="padding-left:16px;margin-top:5px;">
          <mat-slide-toggle #slideToggle [(ngModel)]="debugModel" (change)="changePanel($event)">
            DEBUGモード: {{ debugModel ? 'ON' : 'OFF'}}
          </mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
