<table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

  <!-- <ng-container matColumnDef="clear">
    <td mat-cell *matCellDef="let element" style="width:50px">
      <button *ngIf="action==='edit'" mat-mini-fab color="warn">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </td>
  </ng-container> -->
  
  <ng-container matColumnDef="index" style="width:50px">
    <td mat-cell *matCellDef="let index=index"> {{index}} </td>
  </ng-container>

  <ng-container matColumnDef="id" style="width:50px">
    <td mat-cell *matCellDef="let element"> {{element.order_id}}&nbsp;({{element.detail_id}}) </td>
  </ng-container>

  <ng-container matColumnDef="seat_name">
    <td mat-cell *matCellDef="let element"> {{element.seat_no}} </td>
  </ng-container>

  <ng-container matColumnDef="menu_no">
    <td mat-cell *matCellDef="let element"> {{element.menu_name}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <td mat-cell *matCellDef="let element"> {{element.count}}個</td>
  </ng-container>

  <ng-container matColumnDef="status_code">
    <td mat-cell *matCellDef="let element"> {{ showStatus(element) }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="price">
    <td mat-cell *matCellDef="let element"> <span [ngClass]="{'free-price bgcolor-accent':counterSrv.isPriceFree(element)}">{{ element.price | currency:'￥':'symbol':'1.0-0'}}</span> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="up">
    <td mat-cell *matCellDef="let element; " style="width: 50px">
      <button mat-mini-fab color="accent" (click)="onUp(element)">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]=""></tr>
</table>
