<div [ngClass]="{'image-free': menu.is_free === true, 'image': menu.is_free === false, 'sale': menu.ori_price>0}"
  (click)="onClick($event)">
  <img *ngIf="menu.id" [ngClass]="{'image-img':1, 'bottom10':showIntro}" src="{{site_image_host}}{{menu.image}}"
    alt="Norway" (error)="srcError($event)">
  <!-- <img *ngIf="menu.id" class="image-img" [src]="'/assets/images/menu/000001.jpg'" alt="Norway">-->

  <div *ngIf="menu.id" class="image-title" fxLayout="row" fxLayoutAlign="end center">
    <!-- <button  mat-fab color="primary" >
    </button> -->
    <img #image *ngIf="enableOrder && menu.usable" (mouseup)="mouseup($event)" (mousedown)="mousedown($event)"
      class="image-button" [src]="imageUrl" alt="Norway" (click)="onOrder($event)">
    <div *ngIf="!menu.usable" style="padding: 5px 15px 5px 15px;margin:5px;font-size:110%">
      売り切れ
    </div>
  </div>
  <div *ngIf="menu.id" class="image-text" fxLayout="column">
    <div *ngIf="menu.ori_price" style="text-align: left;color: red;font-size:small;">★<span
        *ngIf="menu.ori_price/2==menu.price">{{'半額' | language:menuSrv.lang}}</span>セール★ </div>
    <div style="text-align: left">{{menu.name | language:menuSrv.lang}}</div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="hanzi-font">{{menu.note}}</span>
      <span style="text-align: left" *ngIf="!menu.is_free" [ngClass]="{bottom10:showIntro}">
        <ng-container>
          <span *ngIf="menu.ori_price" style="text-decoration: line-through;font-weight: 600;font-size:small;">
            {{ menu.ori_price | currency:'￥':'symbol':'1.0-0'}}
          </span>
          <span *ngIf="menu.ori_price"
            style="color: red;font-size:large;">{{ counterSrv.checkTax(menu) | currency:'￥':'symbol':'1.0-0'}}</span>
          <span *ngIf="!menu.ori_price">{{ counterSrv.checkTax(menu) | currency:'￥':'symbol':'1.0-0'}}</span>
          <!-- {{ counterSrv.checkTax(menu) | currency:'￥':'symbol':'1.0-0'}} -->
          <ng-container *ngIf="menu.tax_in"> (税込)</ng-container>
          <ng-container *ngIf="!menu.tax_in"> (税抜)</ng-container>
        </ng-container>
      </span>
      <span style="text-align: left" *ngIf="menu.is_free">
        <span
          style="padding-left:10px;text-decoration:line-through">{{menu.price | currency:'￥':'symbol':'1.0-0'}}</span>
        放題
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="showIntro">
      <div [innerHtml]="menu.introduction" style="white-space: pre-wrap;
      margin-top: 20px;
      line-height: 30px;
      text-align: left;"></div>
    </div>
  </div>
</div>